# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# My configurations:
db.ini
deploy_key_rsa

# dirs
backup
dustbin

#zip(s)不备份
*.rar
*.backup.zip

# file by eclipse
.settings
.buildpath
.project
.externalToolBuilders

# 百度的认证文件
baidu_verify_lcBhhvFYVs.html

# 日志文件
my_log.txt

#缓存文件
Cache