# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# My configurations:
db.ini
deploy_key_rsa

# dirs
backup
dustbin

#zip(s)²»±¸·Ý
*.rar
*.backup.zip

# file by eclipse
.settings
.buildpath
.project
.externalToolBuilders