<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	
	# RewriteCond %{HTTP_HOST} ^a.com$ [NC]
	# RewriteRule ^(.*)$ http://www.a.com/$1 [L,R=301] /*域名a.com 301重定向到 www.a.com*/
	
	RewriteRule uploads/(.*).(php)$ – [F]  
	RewriteRule data/(.*).(php)$ – [F]  
	RewriteRule templets/(.*).(php)$ – [F] /*配置后uploads、data、templets目录下不能执行php文件，防止挂马*/
	
	#RewriteRule ^(.*)\.html$ $1.php [NC] # 有问题
	RewriteRule ^(.*)\.htm$ $1.php [NC]
</IfModule>


<Files ~ "^.(htaccess|htpasswd)$">
	deny from all
</Files>

# 为什么 #RewriteRule ^(.*)\.html$ $1.php [NC] 和404不能同时其作用呢？
ErrorDocument 404 /View/Errors/404.html
ErrorDocument 503 /View/Errors/503.html
order deny,allow