<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

RewriteRule ^([a-zA-Z0-9/]*)$ index.php/$1
  
	#two domains served from one root..
	#RewriteCond %{HTTP_HOST} shop2.wjl.com
	#RewriteCond %{REQUEST_URI} !^/backup/wjl
	#RewriteRule ^(.*)$ /backup/wjl/$1 [L]
</IfModule>