
/*初始化*/
*{padding:0;margin:0; font-family: "Microsoft Yahei","宋体","Tahoma",Arial;}

.wrap{width:800px;margin:0 auto;}
.clear{clear:both;width:100%;height:10px;}
.filepath{padding:5px; margin-bottom:5px; font-size: 12px;color:#333; border-bottom:1px dashed #eee;}
.alert{margin:10px auto;width:400px;color:red;}

.header,.main,footer{width:100%;}
.header{box-shadow: 0 2px 3px rgba(0,0,0,0.15),inset 0 -1px 0 0 #fcfcfc; margin-bottom:5px;}
.header h1{margin:0 10px;}
.footer{background:#000;padding:10px 20px;color:#fff;}

/*顶部导航*/
.nav{background:#eee; overflow:hidden;}
.nav a{float:left;}
.nav a:hover{background:#0096ff;color:#fff;}
.nav .topmenu{color:#0096ff; padding:10px 20px;border-right:1px solid #0096ff; text-decoration: none;}
.nav .current{background:#0096ff;color:#fff;}


/*left*/
.main .left{
	background-color: #f3f3f3;
	border: 1px solid #D9D9D9;
	
	width:200px;padding:5px;
	float:left;
	clear:right;
}


.main .right{
	border:1px solid #eee;
	padding:10px;margin:5px;

	margin-left: 220px;/*==等于左边栏宽度==*/
	
	min-height: 200px;
	height: auto !important;
	height: 200px;
}

#leftpanel h5 {
    height: 35px;
    line-height: 35px;
    margin: -1px 1px 0;
    border: 1px solid #D9D9D9;
    border-width: 1px 0;
    font-size: 14px;
    text-indent: 0px;
    color: #333;
    cursor: pointer;
}

#leftpanel .submenu{
	color:red;
	margin-left: 0px;
	list-style:none;
	cursor: pointer;
	display:block;
}
#leftpanel .submenu li{
	padding-left: 15px;
}

#leftpanel .submenu li.cur{
	background-color:#eee;
}
#leftpanel .submenu li.cur a{
	border-right: 5px solid #563d7c;
    font-weight: bold; 
    color: #563d7c; 
}
#leftpanel .submenu li:hover{
	background-color:#ddd;
}
#leftpanel .submenu a{
	display: block;
	text-decoration: none;
	color: #333;
	
	height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 3px;
}