/*name: styles for content class 
* version: 0.2
* auther: George
* email: poster469 at 163 dot com
*/
.content{
	background-color:#fff;
    font-size: 14px;
    color: #333;
	line-height: 1.75;
	margin: 0 10px;
	font-family:"MicroSoft YaHei","Courier New","Andale Mono",monospace;
}
/*标题样式h2*/
.content h2{
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 0;
	border-bottom: 1px solid #d3d3d3;
	font-size: 25px;
	background-image: linear-gradient(to bottom,#f3f3f3 0,#e3e3e3 100%);
}
/*标题样式h3*/
.content h3{
    margin-top: 0;
    padding: 5px 10px;
    font-size: 20px;

    text-shadow: 0 0 1px #999;
    color: #333;
    border-bottom: 1px solid #D9D9D9;
	font-weight: bold;
	
     margin-top: 10px;
}

/*链接样式*/
.content a {
    color:#0593d3; /*#366799;*/
    text-decoration: none;
}
.content a.button{color:#fff}
.content li.text_menu:hover {
    background:#efeeef; /*#366799;*/
    text-decoration: underline;
}



/*图片样式*/
.content img{ max-width: 100%;}
.content img.banner{width: 100%;}
/*段落样式*/
.content p{
	text-indent:2em;
	margin:10px;
	
	line-height: 1.5;
    word-wrap: break-word;
}


/*代码样式*/
.content pre{
    font: 12px "Courier New";
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    background-color: #F8F8F8;
    line-height: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border-radius: 3px;
    margin: 10px;
}


/*名人名言*/
.content pre.saying{box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 5px 0px inset;}
.content .redBg{background: #C10000;    color: #eee;}







/* color refer: https://maxiang.io/ 
深棕色背景 #36312C, 
- 灰黄色(大多数文字) #EBD1B7,
- 亮黄色文字(粗标题)#F8BB39, 
- 暗黄色文字(强调) #DB784D,
- 亮青色(代码) #95CC5E,
- 暗青色(链接) rgba(139,158,177,0.8);

保护眼睛的背景颜色
米黄色:#FFFFF0
wps中的淡青色:#CFE8CB (199,237,204)=#C7EDCC
*/

/*ubuntu代码显示风格1*/
.content pre.ubuntu1{ font-size: 15px;	border-radius: 10px; /* background-color:#C7EDCC;*/
	background: url(/public/images/bg_coffee.gif) left top;
	font-family:Consolas,"Andale Mono", monospace;}
.content pre.ubuntu1 hr.top{ height:40px; border:0;margin-top:50px; /*background-color:#3da9f7;*/}
.content pre.ubuntu1 hr.under{	border:0; /*border-bottom:1px #3da9f7 dashed;	height:10px;*/}
.content pre.ubuntu1 h4{font-size:20px;
    margin: -30px -10px 0 -30px;
	/*margin-top: -30px; 使用负边距拉近和顶部的距离
	bisque;
	color:#A5D75C; 草青色
	#AA7A53 暗黄色,
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
	*/

	background: #36312C;
	color: #F8BB39;
	
    padding: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.8),0 -1px 5px white;
}
.content pre.ubuntu1 a.smallA{ color:#aaa;
	position: relative; /*top: -30px;*/left:10px;
}






/*表格样式*/
.content table{	margin: 10px;}

/*列表样式
.content ul{	margin: 20px 50px; border:1px solid #eee; padding-left:30px;}
*/
.content ul{	border:1px solid #eee; padding: 0 35px;}
.content ol{	border:1px solid #eee; padding: 0 35px;}
/*常见问题汇总*/
.content ol.faq li{	margin:10px 0;}

.content a{text-indent:0;}

/*btn from http://symfony.com/blog/*/
.content a.non_extensible_button.button_01 {
    background-color: #c0bec3;
    background-image: -webkit-linear-gradient(top,#fff 0,#d9d9d9 100%);
    background-image: linear-gradient(to bottom,#fff 0,#d9d9d9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFD9D9D9',GradientType=0);
    border: 1px solid #c0bec3;
    border-radius: 5px;
    box-shadow: 0;
    color: #63606b;
    font-size: 13px;
    padding: 5px 20px;
    display: inline-block;
}
.content a.non_extensible_button.button_01:hover{
	color:#fff;
	background-color:#a9db3a;
	background-image:-webkit-linear-gradient(top,#a9db3a 0,#6a9211 100%);
	background-image:linear-gradient(to bottom,#a9db3a 0,#6a9211 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA9DB3A',endColorstr='#FF6A9211',GradientType=0);
	text-decoration:none;
}



/*txt目录的链接样式*/
.content a .text_menu{color:#eee; }
.content a .text_menu span{color:#DB784D /*#009a61*/; }

