.content{
	background-color:#fff;
    font-size: 14px;
    color: #333;
	line-height: 1.75;
	margin: 0 10px;
	font-family:"MicroSoft YaHei","Courier New","Andale Mono",monospace;
}
/*标题样式h2*/
.content h2{
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 0;
	border-bottom: 1px solid #d3d3d3;
	font-size: 25px;
	background-image: linear-gradient(to bottom,#f3f3f3 0,#e3e3e3 100%);
}
/*标题样式h3*/
.content h3{
    margin-top: 0;
    padding: 5px 10px;
    font-size: 20px;

    text-shadow: 0 0 1px #999;
    color: #333;
    border-bottom: 1px solid #D9D9D9;
	font-weight: bold;
	
     margin-top: 10px;
}

/*链接样式*/
.content a {
    color:#0593d3; /*#366799;*/
    text-decoration: none;
}
.content a.button{color:#fff}
.content li.text_menu:hover {
    background:#efeeef; /*#366799;*/
    text-decoration: underline;
}



/*图片样式*/
.content img{
    max-width: 100%;
}
.content img.banner{width: 100%;}
/*段落样式*/
.content p{
	text-indent:2em;
	margin:10px;
	
	line-height: 1.5;
    word-wrap: break-word;
}


/*代码样式*/
.content pre{
    font: 12px "Courier New";
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    background-color: #F8F8F8;
    line-height: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border-radius: 3px;
    margin: 10px;
}


/*名人名言*/
.content pre.saying{box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 5px 0px inset;}
.content .redBg{background: #C10000;    color: #eee;}




/*ubuntu代码显示风格1*/
.content pre.ubuntu1{ font-size: 15px;	border-radius: 10px; /* background-color:#C7EDCC;*/
	font-family:Consolas,"Andale Mono", monospace;}
.content pre.ubuntu1 hr.top{ height:40px; border:0;margin-top:50px; /*background-color:#3da9f7;*/}
.content pre.ubuntu1 hr.under{	border:0; /*border-bottom:1px #3da9f7 dashed;	height:10px;*/}
.content pre.ubuntu1 h4{font-size:20px;/* color:#A5D75C; */
    margin: -30px -10px 0 -30px;
	/*margin-top: -30px; 使用负边距拉近和顶部的距离*/


    padding: 10px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}
.content pre.ubuntu1 a.smallA{ color:#aaa;
	position: relative; /*top: -30px;*/left:10px;
}
/*
保护颜色的背景颜色
米黄色:#FFFFF0
wps中的淡青色:#CFE8CB (199,237,204)=#C7EDCC
*/





/*表格样式*/
.content table{	margin: 10px;}

/*列表样式
.content ul{	margin: 20px 50px; border:1px solid #eee; padding-left:30px;}
*/
.content ul{	border:1px solid #eee; padding: 0 35px;}
.content ol{	border:1px solid #eee; padding: 0 35px;}
/*常见问题汇总*/
.content ol.faq li{	margin:10px 0;}


/*按钮样式，必须包括在.btn中的a才能设置按钮*/
.btn {
    font-size: 15pt;
    margin-bottom: 0;
    margin-top: 10px;
	border: 1px dashed #797979;
	
    padding: 10px 5px;
    	
	line-height:20px;
	/*
	
	
	background:#DCDCBC;
	*/
	
	border-radius:10px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 10px;
}

.btn a {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg%3D%3D") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;

    font-size: 15pt;
    font-weight: bold;
    margin-right: 10px; margin-bottom: 10px;
    padding: 5px 12px;
    text-decoration: none;

		
	border-radius:10px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 10px;

	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.btn a:hover {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC");
}
.btn .blue {    background-color: #2DAEBF;}
.btn .red {    background-color: #E33100;}
.btn .orange {    background-color: #FFB515;}
.btn .pink {    background-color: #FF0097;}
.btn .green {    background-color: #6ABF4D;}

.btn .white {    background-color: #EEEEEE;    color: #555555;}

.btn .btn_weibo {
    background: none repeat scroll 0 0 transparent;
    padding: 3px 2px;
    text-shadow: none;
}

.btn .btn_weibo img {
    border: medium none;
    margin-left: 5px;
    vertical-align: middle;
}

.content a{text-indent:0;}

/*btn from http://symfony.com/blog/*/
.content a.non_extensible_button.button_01 {
    background-color: #c0bec3;
    background-image: -webkit-linear-gradient(top,#fff 0,#d9d9d9 100%);
    background-image: linear-gradient(to bottom,#fff 0,#d9d9d9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFD9D9D9',GradientType=0);
    border: 1px solid #c0bec3;
    border-radius: 5px;
    box-shadow: 0;
    color: #63606b;
    font-size: 13px;
    padding: 5px 20px;
    display: inline-block;
}
.content a.non_extensible_button.button_01:hover{
	color:#fff;
	background-color:#a9db3a;
	background-image:-webkit-linear-gradient(top,#a9db3a 0,#6a9211 100%);
	background-image:linear-gradient(to bottom,#a9db3a 0,#6a9211 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA9DB3A',endColorstr='#FF6A9211',GradientType=0);
	text-decoration:none;
}












/*buttons*/

/*main style of button*/
.button, .button:visited {
	background: #222;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}


/*sizes of button*/
.small.button, .small.button:visited 			       { font-size: 11px}
.button, .button:visited,
.medium.button, .medium.button:visited { font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.button, .large.button:visited { font-size: 14px;
		padding: 8px 14px 9px; }

.super.button, .super.button:visited { font-size: 34px;
			padding: 8px 14px 9px; }

							  
/*colors of button*/
.pink.button, .magenta.button:visited	{ background-color: #e22092; }
.pink.button:hover					{ background-color: #c81e82; }

.green.button, .green.button:visited{ background-color: #91bd09; }
.green.button:hover        { background-color: #749a02; }

.red.button, .red.button:visited{ background-color: #e62727; }
.red.button:hover{ background-color: #cf2525; }

.orange.button, .orange.button:visited{ background-color: #ff5c00; }
.orange.button:hover{ background-color: #d45500; }

.blue.button, .blue.button:visited           { background-color: #2981e4; }
.blue.button:hover{ background-color: #2575cf; }

.yellow.button, .yellow.button:visited{ background-color: #ffb515; }
.yellow.button:hover{ background-color: #fc9200; }

.white.button, .white.button:visited{ background-color: #ccc; }
.white.button:hover{ background-color: #888; }
/*
usage:
	<li> <a class="large button blue">Blue Button</a>
		<a class="large button red">Red Button</a></li>
	<li><a class="large button orange">Orange Button</a>
		<a class="large button yellow">Yellow Button</a></li>
*/


/*txt目录的链接样式*/
.content a .text_menu{color:#eee; }
.content a .text_menu span{color:#009a61; }

