/*
color refer: https://maxiang.io/ 
深棕色背景 #36312C, 
- 灰黄色(大多数文字) #EBD1B7,
- 亮黄色文字(粗标题)#F8BB39, 
- 暗黄色文字(强调) #DB784D,
- 亮青色(代码) #95CC5E,
- 暗青色(链接) rgba(139,158,177,0.8);
- ubuntu的重紫色背景 #300A24

保护眼睛的背景颜色 
米黄色:#FFFFF0
wps中的淡青色:#CFE8CB (199,237,204)=#C7EDCC

background-color:bisque;
color:#fff;
background: url(/static/images/bg_coffee.gif) left top;


margin-top: -30px; 使用负边距拉近和顶部的距离
bisque;
#AA7A53 暗黄色,
color:#A5D75C; 草青色
color: #F8BB39;
background: #fff;
box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
box-shadow: 0 1px 5px rgba(0,0,0,0.8),0 -1px 5px white;
background: #484741;
background-image: linear-gradient(to bottom,#514F48 0,#3F3E3A 100%);
color:#fff; 
color:#A5D75C;

background-color:#3da9f7;
border-bottom:1px #3da9f7 dashed;	height:10px;
*/


/*simple style begin 知乎样式 */
.content pre.simple hr.top,
.content pre.simple hr.under{	border:0;}
.content pre.simple{ font-size: 15px;	border-radius: 10px; font-family:Consolas,"Andale Mono", monospace;
	color:#000;
	background:#fff;
}
.content pre.simple h4{font-size:30px; margin: -10px 10px 0px 0px; padding: 0px;
	background: #fff;
	color:#black;
	
	border-radius: 0px;
}
.content pre.simple a.smallA{ color:#aaa;
	position: relative; /*top: -30px;*/left:10px;
}
/*simple style end */







/* grey 浅色标题  begin */
.content pre.grey hr.top{ height:40px; border:0;margin-top:50px;}
.content pre.grey hr.under{	border:0;}
.content pre.grey{ font-size: 15px;	border-radius: 10px; font-family:Consolas,"Andale Mono", monospace;
	background-color:#fff;
}
.content pre.grey h4{font-size:20px; margin: -30px -10px 0 -30px; padding: 10px;
	background-image: linear-gradient(to bottom,#f3f3f3 0,#e3e3e3 100%);
	
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.content pre.grey a.smallA{ color:#aaa;
	position: relative; left:10px;
}
/* grey 浅色标题  end */







/*ubuntu1 深紫色  begin */
.content pre.ubuntu1 hr.top{ height:40px; border:0;margin-top:50px;}
.content pre.ubuntu1 hr.under{	border:0;}
.content pre.ubuntu1{ font-size: 15px;	border-radius: 10px; font-family:Consolas,"Andale Mono", monospace;
	background-color:#300A24;
	color:#fff;
}
.content pre.ubuntu1 h4{font-size:20px; margin: -30px -10px 0 -30px; padding: 10px;
	background-image: linear-gradient(to bottom,#514F48 0,#3F3E3A 100%);
	color:#fff; 
	
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.content pre.ubuntu1 a.smallA{ color:#aaa;
	position: relative; left:10px;
}
/*ubuntu1 深紫色  end */






/*coffee 咖啡色壁纸效果  begin */
.content pre.coffee hr.top{ height:40px; border:0;margin-top:50px;}
.content pre.coffee hr.under{	border:0;}
.content pre.coffee{ font-size: 15px;	border-radius: 10px; font-family:Consolas,"Andale Mono", monospace;
	background: url(/static/images/bg_coffee.gif) left top;
	color:#000;
}
.content pre.coffee h4{font-size:20px; margin: -30px -10px 0 -30px; padding: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.8),0 -1px 5px white;
    background: #AA7A53;
	color:#fff;
	
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.content pre.coffee a.smallA{ color:#aaa;
	position: relative; left:10px;
}
/*coffee 咖啡色壁纸效果  end */










/*mark 马克飞象效果  begin https://maxiang.io/ */
.content pre.mark hr.top{ height:40px; border:0;margin-top:50px;}
.content pre.mark hr.under{border:0;}
.content pre.mark{ font-size: 15px;	border-radius: 10px; font-family:Consolas,"Andale Mono", monospace;
	background: #36312C;
	color:#EBD1B7;
	/*
	color:#DB784D; 
	
	*/
}
.content pre.mark h4{font-size:20px; margin: -30px -10px 0 -30px; padding: 10px;
    background: rgba(0,0,0,0.93);
	color:rgba(139,158,177,0.8);
	
	border-radius: 5px;
}
.content pre.mark a.smallA{ color:#aaa;
	position: relative; left:10px;
}
/*mark 马克飞象效果  end */




/*markLight 马克飞象浅色  begin https://maxiang.io/ */
.content pre.markLight hr.top{ height:40px; border:0;margin-top:50px;}
.content pre.markLight hr.under{border:0;}
.content pre.markLight{ font-size: 15px;	border-radius: 10px; font-family:Consolas,"Andale Mono", monospace;
	color:#000;
}
.content pre.markLight h4{font-size:20px; margin: -30px -10px 0 -30px; padding: 10px;
    color: rgba(0,0,0,0.93);
	border:1px solid #ccc;
	background:#fff;
	/*
	box-shadow:0 1px 5px 1px black, 0 -1px 10px 1px white;
	rgba(255,132,0,0.2);
	rgba(139,158,177,0.2);
	*/
	border-radius: 3px;
	
}
.content pre.markLight a.smallA{ color:#aaa;
	position: relative; left:10px;
}
/*markLight 马克飞象浅色  end */







/*softGreen 护眼柔和色  begin */
.content pre.softGreen hr.top{ height:40px; border:0;margin-top:50px;}
.content pre.softGreen hr.under{border:0;}
.content pre.softGreen{ font-size: 15px;	border-radius: 10px; font-family:Consolas,"Andale Mono", monospace;
	color:#000;
	background:#C7EDCC;
}
.content pre.softGreen h4{font-size:20px; margin: -30px -10px 0 -30px; padding: 10px;
	background: #81D18B;
	color:#0A5C8F;
	
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.content pre.softGreen a.smallA{ color:#aaa;
	position: relative; /*top: -30px;*/left:10px;
}
/*softGreen 护眼柔和色  end */




/*wiki style begin  https://www.w3.org/wiki/Math_Tools#Itranslator_from_tex_latex_to_mathml */
.content pre.wiki hr.top{ height:40px; border:0;margin-top:50px;}
.content pre.wiki hr.under{	border:0;}
.content pre.wiki{ font-size: 15px;	border-radius: 10px; font-family:Consolas,"Andale Mono", monospace;
	color:#000;
	background:#fff;
}
.content pre.wiki h4{font-size:20px; margin: -30px 10px 0 0px; padding: 10px;
	background: #fff;
	color:#000;
	
	border-radius: 0px;
	border-bottom: 1px solid #aaa;
}
.content pre.wiki a.smallA{ color:#aaa;
	position: relative; /*top: -30px;*/left:10px;
}
/*wiki style end */









