<!--头部-->
<?php include('header.php');?>

<!--主体-->
<div class=main>
	<!--左边目录-->
	<?php include('leftMenu.php');?>
	
	<div class=right>
		<?php
			//拼装地址,并打印
			if(''==$trueFileName){$trueFileName='暂时没有数据';};
			$filepath= 'data/' . $keyword . '/' . $trueFileName;
			
			$filemtime='';
			if(file_exists($filepath) ) {
				$filemtime = date('Y-m-d H:i:s', filemtime($filepath));
			}
			
			
			echo '<p class="filepath">'.$filepath . ' [lastModified: ' . $filemtime . ']</p>';

			//拼装图片文件夹
			//$picturePath='data/' . $keyword . '/';

			//包含文章视图文件
			if(file_exists($filepath)){
				if('txt'==$fileType){//txt文件
					echo '<div class="content"><pre class=ubuntu1>';
					echo Dawn::showTxt($filepath);
					echo '</pre></div>';
				}elseif('md'==$fileType || 'markdown'==$fileType){ //md文件
					$text = file_get_contents($filepath);
					$parser = new HyperDown\Parser();
					$html = $parser->makeHtml($text);
					echo '<div class=markdown>',$html,'</div>';
				}else{//其他文件
					include($filepath);
				}
			}else{
				echo '<div class=alert>该文章暂时未公开，请稍后再来...</div>';
			} 
		
		?>


<?php if($web_status==1){?>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="<?php echo $filepath;?>" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"dawneve"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	 || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->
<?php }?>


	</div>
</div>

<div class=clear></div>

<!--尾部-->
<?php include('footer.php');?>
