<!--头部-->
<?php include('header.php');?>

<!--主体-->
<div class=main>
	<!--左边目录-->
	<?php include('leftMenu.php');?>
	
	<div class=right>
		<?php 
			//拼装地址,并打印
			if(''==$trueFileName){$trueFileName='暂时没有数据';};
			$filepath= 'data/' . $keyword . '/' . $trueFileName;
			echo '<p class="filepath">'.$filepath . '</p>';

			//拼装图片文件夹
			//$picturePath='data/' . $keyword . '/';

			//包含文章视图文件
			if(file_exists($filepath)){
				if('txt'==$fileType){
					echo '<div class="content"><pre class=ubuntu1>';
					echo Dawn::showTxt($filepath);
					echo '</pre></div>';
				}else{
					//debug($fileType);
					include($filepath);
				}
			}else{
				echo '<div class=alert>作者还没写出来，请稍后再来...</div>';
			} 
		
		?>
	</div>
</div>

<div class=clear></div>

<!--尾部-->
<?php include('footer.php');?>
