<meta charset='utf-8'>
<style>
pre{white-space:pre-wrap; word-break:break-all;}
i{color:red;}
</style>

<h1>2021年小结-技术篇</h1>
	<b>------勤能补拙。戒骄戒惰。</b>2022.1.23 at sustech<hr />
<pre>
	不要给别人提意见，即使对方邀请，也要说的委婉一些。
	哪里都是只看结果，不看过程。听其言，观其行，口号震天，讨厌讨论细节，注重过程个pi？
	
	走了很多弯路，浪费了很多时间，对课题是不是坑有了直觉的判断力。花钱花人力是判断老板是否认可某项目的决定因素。
	
<hr />[English]
	英语读文献感觉进步不少，接下来就是输出了。
	
	<b>听力与口语</b>
	继续听经济学人的音频，争取每周听2个小时。
	对口音不报期望，能达到流利描述自己的想法即可。

	<b>写作</b>
	分析paper写作套路，新的一年每周至少读5个摘要，并记录到自己的博客。


<hr />[R]
	过去一年熟悉了 R grid 包的基本用法，它是 ggplot2/ ComplexHeatmap/ Gviz等的基础包，我能扩展到哪里？
	前几个月写过一个基本的R包，接下来打算使用 R OOP 写一个类似 Seurat 的包，包含数据结构，包含函数方法的使用方便的包。
	
	不太熟悉的地方是：
		- 怎么把 grid 扩充成绘图系统
		- OOP 数据结构怎么保存和读取，slot的定义和判断

<hr />[Python3]
	Python 用的不是特别多。

<hr />[Shell]
	shell 语法怪异，不需要深入。能用 Python 代替的就代替算了。

<hr />[Math]
	继续学习 线性代数。

<hr />[辅助工具]
	画图为主的网站笔记： www.biomooc.com 
	文字为主的笔记： txtBlog, txtBlog.py
	
	文献阅读笔记: stackNote
	R 语言绘图电子书: [R best practice](https://dawneve.github.io/R_best_practice/)
	
	
	英语笔记: ielts.biomooc.com 
	机器学习: ml.biomooc.com
	Seurat 参考 seurat.biomooc.com
	
<hr />[计划]
	2022 一月，小朋友一岁了。还不会说话和走路。
	2022 争取毕业，争取再来一篇文章。
	毕业之后去哪？做博后，还是进医院？在深圳，回老家，还是出国？
	疫情还在继续，郑州年末又爆发了一轮，加上过几天冬奥会，回去可以，回来可能有滞后的风险。
</pre>