<meta charset='utf-8'>
<style>
pre{white-space:pre-wrap; word-break:break-all;}
i{color:red;}
</style>

<h1>2022年小结与计划-技术篇</h1>
	<b>------勤能补拙。戒骄戒惰。重在落实。</b>2023.1.6 at sustech<hr />
<pre>
	喜事: 2022 年最大的事件是11月， PNAS 文章接收了，二宝出生了，同一个月。

	事故：2022.12.17 服务器硬盘突然坏了，我的数据只备份了 fastq和代码，没有备份中间图文。
	    写博士毕业论文材料受限于发表文章上的正图+补充材料+平时的ppt。

	技能总结: 
	    探索了 R 元编程; 
	    重新系统学习了C语言，学了部分C++。
	    技术的学习就像高考分数一样，它的内容就在那里，但是每个人掌握的千差万别，要达到顶尖并融会贯通很难。

	务虚: 找到自己的定位，明确自己的科学问题，协助发现有意义的生物学规律，发paper，申请funding，冲刺顶刊，不要玩物丧志。

	时间管理：记录时间。
	    去年每天 纸笔记录 工作和小时投入，有点粗糙。
	    今年要：
	        加上做电子版的 周/月/年 工作总结，凝练汇总一段时间的ppt。blog2 /Project/ timeline.txt
	        定期做计划。


<hr />[English] 从加大(听力/阅读)输入来学习英语。

	<b>听力与口语</b>
	继续听哈利波特4的音频，争取每周听5次，每次20-30分钟，也就是每周2小时。
	早上背单词，主要背句子。

	<b>阅读与写作</b>
	英语每周画半天读最新文献摘要，重要句子摘抄、仿写。
	分析paper写作套路，新的一年每周至少读5个摘要，并记录到自己的 stackNote 博客。


<hr />[R]
	过去一年熟悉了 R metaprogramming 元编程。
	熟悉R包的写法，Rcpp的初步用法。

	不太熟悉的地方是：
	  - R 的C接口及底层实现，怎么衔接的？
	  - Rcpp 的局限

<hr />[Python3]
	snakemake 总结常用用法。
	vscode 确实提高生产力。

<hr />[Shell]
	shell 语法总结了部分，记录到 BioMooc.com

<hr />[C/C++]
    重新学习了 C/C++，主要依靠经典教材。

	C: 阅读了 C primer plus(6th) 的几乎全部内容，最后一章还没读懂
	    win7@home: https://github.com/DawnEve/learn_C
	    Ubuntu@school: https://github.com/miostudio/linux_C

	C++: 阅读了 C+++ primer(5th) 的前10章
	    Ubuntu@school: 电子版代码笔记 https://dawneve.github.io/learnCpp/#/

	gcc 编译器的用法，makefile 多文件编译

	计划: 学习 cmake 怎么用?



<hr />[辅助工具 的更新]: 人要善于制造和使用工具来探索世界。
	画图为主的网站笔记： www.biomooc.com,
	    tool.biomooc.com/R_scripts/index.html
	文字为主的笔记： txtBlog, txtBlog.py(记录计科基础@win7)

	文献阅读笔记: stackNote@win10
	R 语言绘图电子书: [R best practice](https://dawneve.github.io/R_best_practice/)

	C++代码笔记: docsify in docker 电子版代码笔记 https://dawneve.github.io/learnCpp/#/

	英语笔记: ielts.biomooc.com, 听力王(webPan)

	Seurat 参考 seurat.biomooc.com

	2022使用较少的:
	    机器学习: ml.biomooc.com


<hr />[计划: 计算机基础]
	计算机考研的4门专业课，要认真学一遍
	    数据结构与算法: 算法刷题
	    计算机组成原理
	    计算机网络
	    操作系统
	方法: 主要是看B站视频，配合C语言编码，适当记录笔记。
	时间投入: 每天一小时，主要是吃饭后的时间，睡觉前的时间。


<hr />[计划]
	2023 一月，大宝两岁了。会走路了，也会从电报文到连贯句子了。
	2022年底放开人口流动了，不过还是决定不回家过年了，二宝才满月，北方太寒冷；明年要毕业。
	
	灾难备份: 要做好应对最坏的灾难的准备，备份好关键数据，目标是在最坏的情况发生时还能让工作继续。

	2023 争取毕业，争取申请一个基金 + 再发一篇文章。
	毕业之后的去向：多面试，不轻易否定任何途径
	    医院、国外博后、国内博后、公司等。
	    提问时间的问题：课题做什么、我做什么，能否给署名、共多少人，对方的期望、给多少钱、带多少人；
	    出文章才能有进一步的发展：技能一致，方向契合，有钱，老板愿意给署名，四个缺一不可。
</pre>

<hr />