<meta charset='utf-8'>
<style>
pre{white-space:pre-wrap; word-break:break-all;}
i{color:red;}
</style>

<h1>2023年小结与计划-技术篇</h1>
    <b>------不要高看每一天的进度，也不要低看每一年的进度。</b>2024.1.6 at HZ<hr />
<pre>
    喜事: 2023.6.31 博士毕业；入职河肿
        单位署名参考: https://pubmed.ncbi.nlm.nih.gov/38170739/
        8 The Affiliated Cancer Hospital of Zhengzhou University and Henan Cancer Hospital, zhengzhou, China.

    技能总结: 
        重新学习了Java Servlet，基本没用上；
        使用 Python Flask 写了 测序报告生成系统。
            NGS 报告生成系统（云平台），稳定运行半年了，大大提升了效率：https://gitee.com/dawnEve/SeqReportSys

    务虚: 开始写基金标书，日常看文献准备科研课题思路。
        前沿 + 会做 + 有意义

    时间管理：记录时间，纸质版。精确到半天。


<hr />[English] 日常听力，时常学论文写作句型。

    <b>听力与口语</b>
    继续听哈利波特4的音频，争取每周听3次，每次30分钟，周末补充到每周2小时。
    英语读报 公众号周更，早上背单词，主要背句子。

    <b>阅读与写作</b>
    英语每周花半天读最新文献摘要，重要句子摘抄、仿写。
    分析paper写作套路，新的一年每周至少读5个摘要，并记录到自己的 stackNote 博客。


<hr />[R]
    又读了几个 Seurat 4 的函数源码，2023.10 它又发布了5.0版本
    todo: 
        NMF
        数据整合
    包不好安装，考虑全部 docker 化？

<hr />[Python3]
    基于 Flask 的 blueprint 的云平台技术上线
        效果：
            在 web 上运行linux上的Py脚本，并返回输出结果；
            后台 基于角色的权限控制系统，使用 Vue3
        缺点：
            不能运行耗时命令：如耗时2天的测序分析任务
            不能脱离 crontab 运行定时任务：比如测序结束就立刻运行，无需人工干预

<hr />[Shell]
    命令运行后的输出
    自动打包备份：基于 crontab

<hr />[C/C++]
    为看懂 R 包学习的 C/C++

    gcc 编译器的用法，makefile 多文件编译

    计划: 学习 cmake 怎么用?


<hr />[辅助工具 的更新]: 人要善于制造和使用工具来探索世界。
    画图为主的网站笔记： www.biomooc.com,
        tool.biomooc.com/R_scripts/index.html
    文字为主的笔记： txtBlog, txtBlog.py(记录计科基础@win7)

    文献阅读笔记: stackNote
    R 语言绘图电子书: [R best practice](https://dawneve.github.io/R_best_practice/)

    C++代码笔记: docsify in docker 电子版代码笔记 https://dawneve.github.io/learnCpp/#/

    英语笔记: ielts.biomooc.com, 听力王(webPan)

    Seurat 参考 seurat.biomooc.com

    2023使用较少的:
        机器学习: ml.biomooc.com


<hr />[计划]
    2024 一月，大宝3岁了。十分淘气，学会气人了
    2024年申请了联合培养博后项目，年后去中科院上海营养所
    
    灾难备份: 极限思维！要做好应对最坏的灾难的准备，备份好关键数据，目标是在最坏的情况发生时还能让工作继续。
        原始数据保存到 移动硬盘
        代码日更 上传到 git
        重要结果 截图到 ppt

    2024 争取申请一个基金 + 再发一篇文章。
        最近去深圳 南科大 一两个月？
        出文章才能有进一步的发展：技能一致，方向契合，有钱，老板愿意给署名，四个缺一不可。
    2024.4 一定要过卫生考试：微生物检验 中级
        刷题：每天 50 道题
</pre>

<hr />