<meta charset='utf-8'>
<title>2025 总结</title>
<style>
pre{white-space:pre-wrap; word-break:break-all;}
i{color:red;}
</style>

<h1>2025年小结与计划-技术篇</h1>
    <b>------时间有限，精通技能树很窄，合作最好，时间并行最好。</b>2026.1.1 at Zhengzhou hz<hr />
<pre>
    小结: 2025.12.15 回郑州hz。快两年了，开始博后收尾。
	2026年1月，大宝满5岁了。二宝3岁1个月。他们还在深圳。
	2025.3-4 头晕，没查明原因。注意养生，特别是睡好 + 不喝酒 + 控糖

	txtBlog框架: 新增顶级目录AI，新增 bio/健康 二级目录，首页随机化打开页面，框架左侧悬停（过长自滚动）
	SeqReportSys: v1.5.5 年底开始申请软件著作权(768元)
	scPolyA-seq2: 分析流程，年底开始申请专利(6k)

    技能总结: 
        AI辅助写文章
		更新: CS/知识的边界

    务虚: 开始写基金标书，日常看文献准备几个科研课题思路。
        前沿 + 会做 + 有意义
		重视合作 + 资源独特

    时间管理：记录时间，纸质版。精确到半天。
		尝试写一周总结：怎么提升效率？



<hr />[English] 日常听力，时常学论文写作句型。

    <b>听力与口语</b>
    继续听哈利波特4的音频，每天10分钟，周末1小时
	kid: 牛津树 web 页面

    <b>阅读与写作</b>
    英语每周花半天读最新文献摘要，重要句子摘抄、仿写。
    分析paper写作套路，新的一年每周至少读2个摘要，并记录到自己的 stackNote 博客。


<hr />[R]
    尝试在 vs code 中写和运行R代码，两次ssh跳转连接远程服务器
	尝试了 CITE-seq(转录组 + 抗体)
	名词: odds, odds ratio(OR)
	//todo shiny


<hr />[Python3]
	todo: 基于py的单细胞分析流程


<hr />[Shell]
    ssh 端口转发，2次跳板服务器设置
	新终端 mobaXterm 代替 Xshell


<hr />[C/C++]
    二叉树
    todo: 学习 cmake 怎么用? Rcpp


<hr />[辅助工具 的更新]: 人要善于制造和使用工具来探索世界。

	=> 新问题：如何通过自动化提高数据分析效率？
	函数 + 脚本 + 流程

    文字为主的笔记： txtBlog, txtBlog.py(记录计科基础@win10 NB)
    画图为主的网站笔记： www.biomooc.com,
        tool.biomooc.com/R_scripts/index.html

    Seurat 参考 seurat.biomooc.com
		* 更新了一些单细胞分析的R函数

    文献阅读笔记: StackNote

    英语笔记: ielts.biomooc.com, 听力王(webPan 提供 mp3)

    2025使用较少的:
		R 语言绘图电子书: [R best practice](https://dawneve.github.io/R_best_practice/)
		C++代码笔记: docsify in docker 电子版代码笔记 https://dawneve.github.io/learnCpp/#/
        机器学习: ml.biomooc.com

<hr />[计划]    
    灾难备份: 极限思维！要做好应对最坏的灾难的准备，备份好关键数据，目标是在最坏的情况发生时还能让工作继续。
        原始数据保存到 移动硬盘
        代码日更 上传到 git
        重要结果 截图到 ppt，然后定期发送到邮箱和qq群

    2025 申请基金 0 + 再发大文章 0 + 合作发表文章 1(swh在投)
    2026 争取申请一个基金 + 再发一篇大文章，合作发表2篇文章
		2025 做过的 HLA-loss 能否发表？
		2025 做过的 sc Lung cancer 能否发表？
		2026 计划做 CAR-T 治疗前后的 APA DB，下载数据 + 网站架构 可以同时进行，目标NAR
		2026 计划做 MRD using PhasED-Seq 技术
	
	宏观：生信杂志分区降低，IF降低，且普遍要求补试验
	合作：
        出文章才能有进一步的发展：技能一致，方向契合，有钱，老板愿意给署名，四个缺一不可。
		广泛联系可能的合作对象（分析 + 实验）: 每两周联系一个人
</pre>

<hr />