<meta charset="utf8">

<body>
<div class="center">
	<h1>txtBlog 搜索</h1>
	<form action="/index.php" mthod="GET">
		<input type="hidden" name="c" value="search">
		关键词: <input type="input" name="keyword" placeholder="Please input a keyword here" class="search" value="<?php 
			if(!empty($_GET["keyword"])){ echo $_GET["keyword"];}
			else{ echo "";}
		?>" />
		<input type="submit" value="搜索" />
	</form>
</div>

<style>
/*
修改版本号2处: 本css记录 + 搜索框底部。
v1. 获取每个文件的目录和url
v2. 对每个文件正则匹配，给出匹配的文件名+url+行号
v3. 整合为最终效果，美化
v3.1 开始整合到系统中，获取全局路径
v3.2 添加返回按钮
*/
<?php 
$version="v3.2";
?>

body,
.box pre{
	margin:0;
	padding:0;
}
body{
	width:90%; 
	margin:0 auto;
	padding-bottom:50px;
}
.light{color:#ccc;}


.center{
	text-align: center;
	margin:0 auto;
}

.search{
	width: 400px;
    height: 16px;
    padding: 12px 16px;
    border: 2px solid #c4c7ce;
    border-radius: 10px 0 0 10px;
	box-sizing: content-box;
}
input[type="submit"]{
	background-color: #4e6ef2;
	color:white; font-size: 17px;
	cursor: pointer;
	padding: 12px 16px;
	border-radius: 0 10px 10px 0;
	border: none;
}

input[type="submit"]:hover {
	background-color: #4662d9
}

pre{
	word-wrap: break-word!important; 
	white-space: pre-wrap;
}

.itemHeader{
	margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
	display: block;
}
.itemHeader a{
	color: #2440b3;
	font-size: 18px;
	font-weight: 400;
}

.itemHeader a:hover {
    text-decoration: underline;
    color: #315efb;
}

.box{
	/*width:98%;
	float:right;
	border:1px solid #ccc;
	*/
	padding:5px;
}
</style>



<?php
//1.设定 data/ 绝对路径
//$data_base_path="G:\\xampp\\htdocs\\txtBlog\\data\\";
$data_base_path=BLOG_MENU; //使用全局变量：data/文件夹的位置

//2.获取搜索关键词
$keyword="";
if(!empty($_GET["keyword"])){
	$keyword=  $_GET["keyword"];
}
if($keyword==""){
	echo "请输入关键词进行检索。| <a href='/'>Back2Blog</a>";
	exit();
}

//3.设定搜索框底部版本号
echo "<p class='light center'>File path: " . $data_base_path .
	" | txtBlog search " .$version .
	" | <a href='/'>Back2Blog</a>" .
	"</p>";


//4.调用函数2: 遍历data/下的文件，打印出匹配行
self::iterator_files( $keyword, $data_base_path);


//5.打印结束时间
echo "<hr> <p class=light>The end.";
echo " | " . date('Y-m-d H:i:s')." by txtBlog</p>";
?>

</body>
