<meta charset='utf8'>

<a href='http://www.jywbphp.com/php/' target='_blank'>from here.</a>

<div class="kecheng5">
     <table width="998" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
               <th scope="col" class="bt_a">课程进度</th>
               <th scope="col" class="bt_b">课程主题</th>
               <th scope="col" class="bt_c">课程内容</th>
          </tr>
          <tr>
               <td rowspan="5" class="jindu jieduan"><span>第一阶段</span>
                    <p>web前端课程<br>
                         详细课程大纲</p></td>
               <td class="zhuti">XHTML</td>
               <td class="neirong">常用标签，标题和字体标签图像标签，列表标签，表单表格的应用，超链接标签等</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">DIV+CSS</td>
               <td class="neirong">样式表的分类 ,规则器使用,层标签应用 ,DIV+CSS制做页面部局.浏览器兼容</td>
          </tr>
          <tr>
               <td class="zhuti">JAVASCRIPT</td>
               <td class="neirong">JavaScript脚本中数据类型，常量.变量与运算符及表达式,数组和对象,内置函数及对象</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">DOM</td>
               <td class="neirong">DOM及DHTML, 文档document对象,location、body、form、screen等对象的使用 </td>
          </tr>
          <tr>
               <td colspan="2" class="zixun"><a href="/gz/PHPgj/" target="_blank"></a></td>
          </tr>
          <tr class="one">
               <td rowspan="6" class="jindu jieduan qian"><span>第二阶段</span>
                    <p>php开发课程<br>
                         详细课程大纲</p></td>
               <td class="zhuti">PHP基础</td>
               <td class="neirong">PHP的运算符与表达；流程控制与函数；数值处理；字符串处理函数；PHP正则表达式</td>
          </tr>
          <tr>
               <td class="zhuti">MySQL数据库</td>
               <td class="neirong">数据类型及运算符；索引,视图；访问控制和权限；数据备份和恢复；数据导入和导出</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">PHP应用</td>
               <td class="neirong">文件处理与上传下载；图像处理；Session与Cookie；Header详解，Include详解 </td>
          </tr>
          <tr>
               <td class="zhuti">LAMP环境</td>
               <td class="neirong">Apache、MySQL和PHP服务器的经典源码包安装与优化 ; 网站服务器的配置与管理等</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">DEDECMS</td>
               <td class="neirong">CMS内容发布系统特点，织梦-标签详解：利用Dede CMS进行二次开发资讯类网站</td>
          </tr>
          <tr>
               <td colspan="2" class="zixun"><a href="/gz/PHPgj/" target="_blank"></a></td>
          </tr>
          <tr class="one">
               <td rowspan="10" class="jindu jieduan"><span>第三阶段</span>
                    <p>php架构课程<br>
                         详细课程大纲</p></td>
               <td class="zhuti">OOP</td>
               <td class="neirong">类的定义构造方法,this关键字; 类的继承,重载,多态;魔术方法;接口使用;面向对象的应用</td>
          </tr>
          <tr>
               <td class="zhuti">AJAX</td>
               <td class="neirong">Ajax技术：Ajax工作原理 ; Ajax开发框架 ; Ajax web应用模式 ; Ajax在开发中的应用.</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">Jqury</td>
               <td class="neirong">jQuery选择器 ; 属性 ; 筛选 ; jQuery的CSS应用 ; 事件;特效应用 ; jQuery的Ajax应用。</td>
          </tr>
          <tr>
               <td class="zhuti">Smarty</td>
               <td class="neirong">安装Smarty模板引擎；初始化配置；模板中的变量,调节器,内建函数；Smarty缓存技术</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">MVC</td>
               <td class="neirong">MVC开发模式介绍；MVC模式下的CURD操作.</td>
          </tr>
          <tr>
               <td class="zhuti">XML</td>
               <td class="neirong">XML介绍；DTD格式转换；XML在PHP文件中的读取</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">ThinkPHP</td>
               <td class="neirong">ThinkPHP源码包安装与配置；目录结构 ,控制器 ,模型 ,视图；ThinkPHP的CURD操作</td>
          </tr>
          <tr>
               <td class="zhuti">zend</td>
               <td class="neirong">Zend Framework框架：安装 ; 控制器 ; 访问控制 ; 认证 ; 缓存 ; 配置文件. </td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">PHP应用框架</td>
               <td class="neirong">利用MVC模式开发一个核心框架,理解模型层,视图层,控制层之间的关系和调用方式</td>
          </tr>
          <tr>
               <td colspan="2" class="zixun"><a href="/gz/PHPgj/" target="_blank"></a></td>
          </tr>
          <tr class="one">
               <td rowspan="7" class="jindu jieduan qian"><span>第四阶段</span>
                    <p>php项目实战<br>
                         详细课程大纲</p></td>
               <td class="zhuti">项目实战1</td>
               <td class="neirong">MVC+Smarty引擎开发企业网站 ，包括新闻发布系统，留言板，产品发布等</td>
          </tr>
          <tr>
               <td class="zhuti">项目实战2</td>
               <td class="neirong">Thinkphp框架开发商城类网站,包括：搜索模块；会员模块；购物车模块；支付模块，</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">discuz！</td>
               <td class="neirong">Discuz！整体功能介绍，各模块功能说明；实现用户同步登录；模板标签语言讲解；</td>
          </tr>
          <tr>
               <td class="zhuti">Ecshop</td>
               <td class="neirong">分析Ecshop 整体功能讲解,浏览记录实现，购物车实现，加载Rewrite模块</td>
          </tr>
          <tr class="qian_hui">
               <td class="zhuti">PHP项目开发</td>
               <td class="neirong">应用PHP面向过程开发，结合WEB前端以及PHP,MYSQL开发留言板</td>
          </tr>
          <tr>
               <td class="zhuti">网站优化</td>
               <td class="neirong">优化代码执行效率，缓存优化，静态页面优化，标签等代码级优化等</td>
          </tr>
          <tr>
               <td colspan="2" class="zixun zixun_2"><a href="/gz/PHPgj/" target="_blank"></a></td>
          </tr>
     </tbody></table>
     <!--p class="yuyue"><a href="#">免费试听课程</a> <a href="#">点击预约</a></p-->
</div>

<style>
@charset "utf-8";
/* CSS Document */

*{padding:0px; margin: 0px;}
a{ text-decoration:none;}
li{ list-style:none;}
img{ border:0px;}
.clearfix:after{content:"."; height:0px; display:block; clear:both; visibility:hidden;}
.clearfix{ zoom:1;}

body{ font-family:"Microsoft YaHei";}
/*.header { height: 133px; padding-top: 54px; background:url(../php_img/headerbg.jpg) repeat-x; }*/
.banner { text-align:center; height:415px; position:relative; z-index:-999; }
.banner img{ position:absolute; top:-60px; left:0px;}
.box { margin-top: 7px; margin-bottom: 20px; }
.content { padding-bottom: 20px; }
.kecheng5 { font-size: 14px; margin-bottom:25px; }
.kecheng5 table { border: #ceccd1 solid 1px; width: 998px; margin: 0 auto; }
.kecheng5 td { height: 43px; line-height: 43px; }
.kecheng5 table th { color: #FFF; font-family: "Microsoft YaHei", "SimHei"; font-size: 26px; }


.bt_a { background: url(public/images/lv_bt_bg.gif) repeat-x; height: 91px; }
.bt_b { background: url(public/images/lan_bt_bg.gif) repeat-x; height: 91px; }
.bt_c { background: url(public/images/hei_bt_bg.gif) repeat-x; height: 91px; }


.jindu { width: 207px; }
.jieduan { background: #bbacac; text-align: center; color: #49483b; font-size: 20px; }
.jieduan span { font-size: 33px; font-weight: bold; display: block; }
.jieduan p { line-height: 26px; font-size: 18px; }
.zhuti { width: 239px; border-right: #cdcdcd solid 1px; text-align: center; background: #e6e6e6; }
.neirong { padding-left: 13px; width: 540px; background: #e6e6e6; }


.zixun { width: 800px; text-align: center; background: #e6e6e6;  }
.zixun_2 { width: 800px; text-align: center; background: #f2f2f2; }
.xiangqing { margin-right: 123px; }


.one .jindu { background: #bbacac; }
.one .qian { background: #d9cccc; }
.one .zhuti { background: #f2f2f2; }
.one .neirong { background: #f2f2f2; }
.qian_hui .neirong { background: #f2f2f2;  }
.qian_hui .zhuti { background: #f2f2f2; }
.yuyue { background: url(../php_img/shiting_bg.gif) repeat-x; height: 51px; line-height: 51px; text-align: right; width: 998px; margin: 0 auto; font-size: 20px; font-family: "Microsoft YaHei"; }
.yuyue a { color: #FFF; padding-right: 15px; letter-spacing: 2px; }
.jieshao { width: 1024px; margin: 0 auto;margin-top: 17px; height: 443px; margin-top:80px; }








/*
.jieshao ol {transition:.3s; border-radius:20px; float: left; font-size: 14px; font-family: "Microsoft YaHei"; height:292px; padding-top: 150px; }
.jieshao ol li { text-align: center; background: url(../php_img/hui_bai_xian.gif) repeat-x bottom left; padding-left:0px; }
.jieshao ol.ol_1 { width: 228px;display: inline; line-height: 36px; background:url(../php_img/m1.png);  }
.jieshao ol.ol_2 { width: 270px; line-height: 36px; display: inline;background:url(../php_img/m2.png);}
.jieshao ol.ol_3 { width: 272px; line-height: 38px; display: inline;background:url(../php_img/m3a.png);}
.jieshao ol.ol_4 { width: 254px; line-height: 36px; display: inline;background:url(../php_img/m4.png);}
.jieshao ol li a { color: #343434; }
.jieshao ol li a:hover { color: #74091d; text-decoration: underline; }
.jieshao ol li.button { background: none; margin-top: 18px; }
.jieshao ol li.button a{ background:url(../php_img/dianjizixun.gif) no-repeat; width:114px; height:42px; display:inline-block;transition:.3s;}
.jieshao ol.ol_3 li.button a{background:url(../php_img/dianjizixun_red.gif) no-repeat; background-size:cover;transition:.5s; }
.jieshao ol li.button a:hover{ background:url(../php_img/dianjizixun_red.gif) no-repeat; background-size:cover;transform:scale(1.1);}
.jieshao ol:hover{ transform:scale(1.1);}
.jieshao ol.ol_1:hover { width: 228px;display: inline; line-height: 36px; background:url(../php_img/m1a.png); }
.jieshao ol.ol_2:hover { width: 270px; line-height: 36px; display: inline;background:url(../php_img/m2a.png);}
.jieshao ol.ol_3:hover { width: 272px; line-height: 38px; display: inline;background:url(../php_img/m3a.png); }
.jieshao ol.ol_4:hover { width: 254px; line-height: 36px; display: inline;background:url(../php_img/m4a.png); }





.kecheng { background: url(../php_img/a1_01.jpg) no-repeat top center; height: 346px; width: 100%; margin: 0 auto; }
.kecheng1 { background: url(../php_img/a1_02.jpg) no-repeat top center; height: 347px; width: 100%; margin: 0 auto; }
.kecheng1 ul { width: 810px; margin: 0 auto; padding-top: 70px; }
.kecheng1 ul li { font-size: 14px; color: #ffffff; float: left; text-align: center; font-family: "Microsoft YaHei"; }
.kecheng1 ul li a { color: #000; }
.kecheng2 { height: 520px; background: url(../php_img/b1_bg_02.gif); width: 100%; }
.kecheng2 .kecheng2_content { width: 1000px; margin: 0 auto; background: url(../php_img/b2_06.gif) no-repeat 145px 41px; height: 440px; }
.kecheng2 .kecheng2_content ul { padding-top: 160px; }
.kecheng2 .kecheng2_content ul li { float: left; }
.kecheng2 .kecheng2_content p { text-align: center; background: url(../php_img/b3_03.gif) no-repeat; height: 22px; width: 106px; line-height: 22px; font-family: "Microsoft YaHei"; font-size: 12px; float: right; margin-top: 31px; }
.kecheng2 .kecheng2_content p a { color: #ffffff; }
.chengnuo { height: 677px; background: url(../php_img/d4_03.gif); width: 100%; }
.chengnuo .chengnuo_content { width: 1000px; margin: 0 auto; height: 677px; }
.chengnuo .chengnuo_content .cn_c_bg { background: url(../php_img/d4_07.gif) no-repeat 59px 37px; width: 1000px; height: 176px; }
.chengnuo .chengnuo_content .cn_c_ul { background: url(../php_img/d4_11.gif) no-repeat 7px 41px; height: 387px; width: 1000px; padding-top: 41px; }
.chengnuo .chengnuo_content .cn_c_ul p { padding-top: 308px; padding-left: 648px; }
.chengnuo .chengnuo_content .cn_c_ul p a { color: #212002; }
.yaoqiu { height: 505px; width: 100%; }
.yaoqiu .yaoqiu_shang { height: 274px; background: url(../php_img/e5_02.gif) no-repeat top center; width: 100%; }
.yaoqiu .yaoqiu_xia { height: 231px; background: url(../php_img/e5_03.gif) no-repeat top center; width: 100%; }
.yaoqiu .yaoqiu_xia p { width: 1000px; height: 40px; margin: 0 auto; padding-top: 125px; }
.yaoqiu .yaoqiu_xia p a { display: block; width: 140px; height: 40px; float: right; }
.chengnuo1 { height: 375px; width: 100%; background: url(../php_img/f6_02.gif); }
.chengnuo1 .chengnuo1_content { height: 172px; background: url(../php_img/f6_06.gif) no-repeat 85px 36px; width: 1000px; margin: 0 auto; }
.chengnuo1 .chengnuo1_content1 { height: 166px; background: url(../php_img/f6_09.gif) no-repeat top center; }
.chengnuo1 .chengnuo1_content1 p { height: 51px; padding-top: 114px; }
.chengnuo1 .chengnuo1_content1 p a { display: block; width: 170px; height: 51px; width: 170px; margin: 0 auto; }
.xinzi { height: 476px; width: 100%; }
.xinzi .xinzi_shang { height: 238px; background: url(../php_img/g7_02.gif) no-repeat top center; width: 100%; }
.xinzi .xinzi_xia { height: 238px; background: url(../php_img/g7_03.gif) no-repeat top center; width: 100%; }
.liucheng { height: 540px; background: url(../php_img/i.gif) no-repeat top center; width: 100%; }
.liucheng .liucheng_shang { background: url(../php_img/h_06.gif) no-repeat 309px 34px; height: 151px; width: 1000px; margin: 0 auto; }
.liucheng .liucheng_xia { width: 1000px; margin: 0 auto; }
.liucheng .liucheng_xia ul li { font-size: 12px; float: left; }
.liucheng .liucheng_xia ul li span { font-size: 16px; }
.gongzuo { height: 620px; width: 100%; }
.gongzuo .gongzuo_shang { height: 185px; background: url(../php_img/j_02.gif) no-repeat top center; width: 100%; }
.gongzuo .gongzuo_zhong { height: 302px; background: url(../php_img/j_03.gif) no-repeat top center; width: 100%; }
.gongzuo .gongzuo_zhong .gz_content { width: 1000px; margin: 0 auto; height: 302px; }
.gongzuo .gongzuo_zhong .gz_z_c { width: 407px; float: left; }
.gongzuo .gongzuo_zhong .gz_z_c .ip1 { height: 24px; width: 155px; }
.gongzuo .gongzuo_zhong .gz_z_c1 { width: 545px; float: left; }
.gongzuo .gongzuo_zhong .gz_z_c1 ul li { height: 100px; width: 108px; float: left; padding-left: 1px; padding-top: 1px; }
.gongzuo .gongzuo_zhong .gz_z_c1 ul li a { display: block; height: 100px; width: 108px; }
.gongzuo .gongzuo_xia { height: 133px; background: url(../php_img/j_04.gif) no-repeat top center; width: 100%; }
.gongzuo .gongzuo_xia .gz_x_c { width: 1000px; margin: 0 auto; height: 133px; }
.gongzuo .gongzuo_xia .gz_x_c p { padding-top: 41px; padding-left: 252px; }
.gongzuo .gongzuo_xia .gz_x_c p a { display: block; width: 163px; height: 34px; }
.xueyuan { width: 100%; }
.xueyuan .xueyuan_shang { background: url(../php_img/m_02.gif) no-repeat top center; width: 100%; }
.xueyuan .xueyuan_shang .xueyuan_content { width: 1001px; margin: 0 auto; }
.xueyuan .xueyuan_shang .xueyuan_content ul li { width: 166px; float: left; }
.xueyuan .xueyuan_shang .xueyuan_content ul li .gs { padding-top: 6px; padding-left: 38px; }
.xueyuan .xueyuan_shang .xueyuan_content ul li span { font-size: 12px; color: #4a4a4a; line-height: 21px; display: block; padding-left: 8px; padding-right: 8px; }
.xueyuan_xia { height: 123px; background: url(../php_img/k_03.gif) no-repeat top center; width: 100%; margin-top: 35px; margin-bottom: 20px }
.foot { height: 133px; background: #131426; width: 100%; }
.foot p { font-size: 12px; color: #b5b7d9; width: 521px; margin: 0 auto; text-align: center; line-height: 27px; padding-top: 29px; }
.news{ width:1000px; margin:0 auto;}
.news img{ margin:20px 0px;}
.news table{ background:#e7f1f7; color:#999ea2; font-size:13px; }
.news table th{ height:45px; line-height:45px; border-right:#FFF 1px solid; background:#7ab0d3; border-top:#ff8e00 solid 4px; color:#FFF;}
.news table td{ height:32px; line-height:32px; color:#545454; text-align:center; border-right:#FFF 1px solid;}

.qiye_logo{ width:1000px; margin:0 auto; height:271px;}
.qiye_logo ul{ width:604px; float:left;border-top:#dddddd solid 1px; border-left:#dddddd solid 1px; }
.qiye_logo ul li{ float:left; height:101px; padding-top:18px; background:#FFF; border-bottom:#dddddd solid 1px;border-right:#dddddd solid 1px;}
.qiye_logo ul li img{ display:block;}
.qiye_logo p{ float:right;}
.qiye_logo ul li:hover{ background:#f7f7f7;}
*/

</style>